textarea {
    margin: 0!important;
}

.phoneInput {
    width: 90%;
     position: relative;
}

.PhoneInput {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-shadow: none;
    -webkit-transition: none;
    color: #565360;
    height: 35px;
    font-weight: 400;
    padding: 0.2% 2%;
    font-size: 17px;
    width: 95%;
}

input.PhoneInputInput {
    border: 0;
    font-size: 1rem;
    color: #565360;
    font-family: 'Fira Sans', sans-serif;
}

input.PhoneInputInput:focus-visible {
    outline: 0!important;
}

span.note {
    
    font-size: 14px;
    font-style: italic;
}

.txt_red {
    color: red;
}
.txt_green {
    color: green;
}

.grid__3 {
    grid-template-columns: 80px 1fr 1fr;
    gap: 0.3rem;
    justify-content: left;
}

.client__page .grid__2 {
    gap: 0.3rem!important;
    justify-content: left!important;
}

.street {
    width: 98%!important;
    padding: 1%;
}

.css-b62m3t-container {
    width: 425px;
}

/* RESPONSIVE STYLE */

.client__page .grid__2 {
    grid-template-columns: 1fr 1fr;
}
  
  /* 1366 down - large */
  @media only screen and (max-width: 1366px) {
          
  }

  /* 1024 down - laptop */
  @media only screen and (max-width: 1024px) {

  }

  /* 960 down - tablet */
  @media only screen and (max-width: 960px) {

  }

  /* 600 down - small screen */
  @media only screen and (max-width: 600px) {
    .grid__3, .client__page .grid__2 {
        grid-template-columns: 1fr;
    }
  }

  /* 360 down - mobile */
  @media only screen and (max-width: 360px) {

  }