.package__container {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    cursor: pointer;
    justify-content: center;
}

.package__section {
    position: relative;
    width: 100%;
    padding-right: 10px;
    margin-bottom: 10px;
}

.dtr-pricing {
    position: relative;
    text-align: center;
    border-radius: 10px;
    border-bottom: 1px solid white!important;
}

.dtr-pricing:hover h3 {
    transition: all .3s ease;
}

.bg__dark {
    background-color: #191c2f !important;
}

.bg__light {
    background-color: #1732a4  !important;
}

.bg__white {
    background-color: #fff  !important;
    -ms-box-shadow: 0 11px 27px rgba(0, 9, 71, 0.13);
    -o-box-shadow: 0 11px 27px rgba(0, 9, 71, 0.13);
    box-shadow: 0 11px 27px rgb(0 9 71 / 13%);
}

.border-white-muted, .border-white-muted li {
    border-color: #f2f2f2 !important;
}

.dtr-pricing-heading {
    border-width: 0 0 1px 0;
    border-style: solid;
    padding-bottom: 15px;
    margin: 0;
    padding-top: 18px;
}

.dtr-pricing-details {
    position: relative;
    text-align: left;
    margin-top: 30px;
    min-height: 250px;
}

.dtr-pricing-details-title {
    position: relative;
    display: block;
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 22px;
    font-weight: 700;
}

.dtr-price-subtext {
    margin: 0;
    line-height: 18px;
}

.dtr-price {
    margin: 10px 0;
    line-height: 36px;
    font-weight: 700;
}


.p__pic img {
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.basic__pac, .basic__pack h3 {
    color: #386068!important;
}

.premium__pac, .premium__pac h3 {
    color: #1475F7!important;
}

.plus__pac, .plus__pac h3 {
    color: #dd5940!important;
}


.dtr-pricing.bg__white:hover h3 {
    background: #1475F7!important;
    color: #fff!important;
}

.p__data {
    padding-top: 20px;
}

ul.dtr-list-pricing {
    margin: 0;
    line-height: 1.5;
    margin-left: -20px;
}


/* RESPONSIVE STYLE */

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        .package__section {
            width: 60%;
            font-size: 12px;
        }

        .dtr-pricing-heading,  .dtr-price {
            font-size: 25px;
        }

        .dtr-pricing-details {display: none;}
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        .package__section {
            max-width: 30%;
            font-size: 12px;
        }

        .dtr-pricing-heading,  .dtr-price {
            font-size: 28px;
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .package__section {
            max-width: 30%;
            font-size: 10px;
        }

        .dtr-pricing-heading,  .dtr-price {
            font-size: 22px;
        }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .package__section {
            max-width: 30%;
            font-size: 12px;
        }

        .dtr-pricing-heading,  .dtr-price {
            font-size: 25px;
        }
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .package__section {
            max-width: 30%;
            font-size: 12px;
        }

        .dtr-pricing-heading,  .dtr-price {
            font-size: 30px;
        }
    }
    