.package__container {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    cursor: pointer;
}

.package__section {
    flex: 0 0 33.333333%;
    max-width: 30%;
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.dtr-pricing {
    position: relative;
    text-align: center;
    border-radius: 10px;
    border-bottom: 1px solid white!important;
}

.dtr-pricing:hover h3 {
    /* border-bottom: 1px solid #000!important; */
    transition: all .3s ease;
}

.bg__dark {
    background-color: #191c2f !important;
}

.bg__light {
    background-color: #1732a4  !important;
}

.bg__white {
    background-color: #fff  !important;
    box-shadow: 0 2px 8px rgb(201 201 201 / 25%);
}

.border-white-muted, .border-white-muted li {
    border-color: #f2f2f2 !important;
}

.dtr-pricing-heading {
    border-width: 0 0 1px 0;
    border-style: solid;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 40px;
}

.dtr-pricing-details {
    position: relative;
    text-align: left;
    margin-top: 50px;
}

.dtr-pricing-details-title {
    position: relative;
    display: block;
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 22px;
    font-weight: 700;
}

.dtr-price-subtext {
    margin: 0;
    font-size: 0.765em;
    line-height: 18px;
}

.dtr-price {
    margin: 10px 0;
    font-size: 48px;
    line-height: 36px;
    font-weight: 700;
}


.p__pic img {
    border-radius: 10px;
}

.basic__pacn, .basic__pack h3 {
    color: #2c2c51!important;
}

.premium__pac, .premium__pac h3 {
    color: #007eff!important;
}

.plus__pac, .plus__pac h3 {
    color: #f1cd0d!important;
}