
body {
    margin: 0;
    font-family: "Roboto",sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.8em;
    letter-spacing: -0.3px;
    scroll-behavior: smooth;
    color: #555;
}

.container {
  width: 100%;
  /* max-width: 1600px; */
  /* padding-right: 15px;
  padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
}

.form___container {
    max-width: 1320px;
    margin:auto;
    min-height: 600px;

    display: flex;
    flex-direction: column;
    width: 1000px;
}

.form___container .header h1 {
    font-size: 2.529em;
    line-height: 1.3em;
    margin-top: 0;
}

.flex {
    display: flex!important;
}

.grid {
  display: grid;
}

.inline__grid {
  display: inline-grid;
  margin-right: 32px;
}

a {
    text-decoration: none;
}

.section__bg {
    
    /* background-color: #616d9fed !important;
    background-image: url('../../assets/images/white-shape-bg.png'); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
}

.mbt__bottom__shape {
    /* background-image: url('../../assets/images/hero-bottom.svg'); */
    /* padding-top: 50px; */
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center bottom;
    /* padding: 50px 0; */
    background-color: #fff;
}

.mbt__container__left {
    width: 20%;
    min-height: 968px;
    padding: 50px;
}

.btn {
    /* display: block;
    width: 225px;
    height: 45px;
    line-height: 44px;
    color: #404BCB;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.81px;
    border: 1px solid #ff5858;
    border-radius: 100px;
    background: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
    cursor: pointer;
    margin: 0 10px; */
    font-family: "Roboto",sans-serif;
    border: none;
    color: #fff;
    padding: 7px 20px;
    text-decoration: none;
    transition: background .5s ease;
    -moz-transition: background .5s ease;
    -webkit-transition: background .5s ease;
    -o-transition: background .5s ease;
    display: inline-block;
    cursor: pointer;
    font-weight: 400;
    outline: 0;
    text-align: center;
    background: #677294;
    position: relative;
    font-size: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 1;
    padding: 10px 30px 10px 30px;
}

.btn:hover {
  background: #2c2c51;
  color: #fff;
}

button.backward {
  /* color: #333;
  background: #e8e8e8;
  padding: 10px 20px 10px 30px; */
  border: 0;
  background: none;
  cursor: pointer;
  text-align: left;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #07a0ec;
  font-family: Roboto,sans-serif;
}

button.forward, button.submit {
  padding: 10px 30px 10px 20px;
  margin-left:2px;
  margin-right: 60px;
}

button.backward:before {
  /* content: "<"; */
  font-family: "Roboto",sans-serif;
  position: absolute;
  top: 8px;
  left: 12px;
  font-size: 18px;
}

button.forward:before {
  /* content: ">"; */
  font-family: "Roboto",sans-serif;
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 18px;
}


.form___container .form__footer {
    display: flex;
    max-width: 1320px;
    margin: 50px auto;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
}

.mbt__container__right {
  color: #000;
  padding: 50px 0px 50px 50px;
  background-color: rgb(252, 252, 252);
  width: 60%;
}

/* GENERAL */
select {
    margin: 0;
    font-weight: 400;
    /* -moz-appearance: window;
    -webkit-appearance: none; */
    cursor: pointer;
    outline: 0;
    max-height: 50px!important;
    min-width: 200px;
}

.form-control {
  background: 0 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: .25rem;
  box-shadow: none;
  -webkit-transition: none;
  color: #565360;
  max-height: 35px;
  font-size: 16px;
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  margin-right: 5px;
  font-family: "Roboto",sans-serif;
  font-size: 17px;
  font-size: 1rem;
  height: 56px;
  /* box-shadow: 0 2px 48px 0 rgb(0 0 0 / 6%); */
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bfff;
  outline: 0;
  /* -webkit-box-shadow: 0 0 0 0.2rem rgb(0 126 255 / 25%);
  box-shadow: 0 0 0 0.2rem rgb(0 126 255 / 25%); */
}

input[type="text"] {
  width: 30%;
}

.form-control:focus-visible {
  /* outline: #495057 auto 1px; */
}

.color__white {
  color: #fff!important;
}

.color__black {
  color: #000!important;
}

.hidden {visibility: hidden;}

.none {
  display: none;
}

.block {
  display: block;
}

button[disabled], button[disabled]:hover {
  background: #e8e8e8;
  color: gray;
  cursor: help;
}

/***************/
.subheader#quote {
  background: #32407e;
  /* background: #32407e  url("../../assets/images/quote_bg.svg") no-repeat center bottom; */
}


.subheader {
  text-align: center;
  /* margin: 0 -65px 0px -65px; */
  height: 300px;
  /* border-bottom: 1px solid #e8ebed; */
}

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  color: #222;
  font-weight: 700;
}



/* NEW CSS */

.css__new .logo img {
  width: 60px;
  margin-right: 20px;
}

.css__new h2 {
  display: inline!important;
}

.logo {margin-bottom: 50px;}

.header h2 {
  font-weight: 500;
  font-size: 32px;
  color: #2c2c51;
}

.mbt__container__right .body {
  margin-top: 20px;
}



.logo.grid__2 {
  grid-template-columns: repeat(2, max-content);
  gap: 0.3rem;
  justify-content: left;
}

.logo.grid__2 h2{
  margin-top: 18px;
  font-size: 30px;
  color: #2c2c51;
}

.bg__bldg {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 0;
  width: 600px;
}

/* RIGHT SECTION - ORDER SUMMARY */

.order_summary {
  background: #f2f7fbe6!important;
  color: #2c2c51!important;
  line-height: 1.5em;

}

.order_summary h3 {
  color: #2c2c51!important;

  font-weight: 500;
  font-size: 24px;
}

.order_summary table tr {
  vertical-align: top;
  text-align: left;
}

.order_summary table td {
  padding: 5px 10px;
  border-bottom: 1px dashed #65bde9;
}

.order_summary ul {
  list-style: none;
  padding-left: 0;
}

.uppercase {
  text-transform: capitalize;
}

.order_summary table td:first-child {
  width: 40%;
  font-weight: 500;
}

.order_summary table td:nth-child(2) {
  font-size: 14px;
  color: #07a0ec;
}

.form__footer.bottom_btn {
  margin-top: 0;
}

error {
  font-size: 12px;
  color: #db3a3a;
  height: 35px!important;
  line-height: 1.8em;
  display: block;
}

.inline__grid input {
  width: 100%;
  margin-bottom: 0;
}

.absolute {
  position: absolute;
}

.PhoneInput {
  margin: 0;
}