
body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.8em;
    letter-spacing: -0.3px;
    scroll-behavior: smooth;
    color: #555;
}

.container {
  width: 100%;
  /* max-width: 1600px; */
  /* padding-right: 15px;
  padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
}

.form___container {
    /* max-width: 1320px; */
    margin:auto;
    min-height: 600px;

    display: flex;
    flex-direction: column;
    /* width: 1000px; */
}

.form___container .header h1 {
    font-size: 2.529em;
    line-height: 1.3em;
    margin-top: 0;
}

.flex {
    display: flex!important;
}

.grid {
  display: grid;
}

.inline__grid {
  display: inline-grid;
  margin-right: 32px;
  width: 50%;
}

a {
    text-decoration: none;
}

.section__bg {
    
    /* background-color: #616d9fed !important;
    background-image: url('../../assets/images/white-shape-bg.png'); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
}

.mbt__bottom__shape {
    /* background-image: url('../../assets/images/hero-bottom.svg'); */
    /* padding-top: 50px; */
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center bottom;
    /* padding: 50px 0; */
    background-color: #fff;
}

.mbt__container__left {
    width: 15%;
    min-height: 845px;
    padding: 50px;
}

.btn {
  font-family: "Roboto",sans-serif;
  border: none;
  color: #fff;
  padding: 7px 20px;
  text-decoration: none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  outline: 0;
  text-align: center;
  background: #71bee5;
  position: relative;
  font-size: 20px;
  border-radius: 20px;
  line-height: 1;
  box-shadow: 0 10px 40px -10px rgb(0 130 255 / 30%);
  /* background-image: linear-gradient(to right, #7114EF , #1475F7 ); */
  background-image: linear-gradient(90deg, #1475F7 0%, #7114EF 50%, #1475F7) !important;
  padding: 0px 60px 0px 60px;
  border-radius: 58px 58px 58px 58px;
  font-size: 15px;
  line-height: 45px;
  box-shadow: 0px 6px 6px 0px rgb(55 80 244 / 30%);
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  background-size: 200%, 1px;
  background-position: 0%;
}

.btn:hover {
  background-position: 100%;
}


button.forward, button.backward, button.submit {
  margin-right:5px;
}

button.backward:before {
  /* content: "<"; */
  font-family: "Roboto",sans-serif;
  position: absolute;
  top: 8px;
  left: 12px;
  font-size: 18px;
}

button.forward:before {
  /* content: ">"; */
  font-family: "Roboto",sans-serif;
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 18px;
}


.form___container .form__footer {
    display: flex;
    max-width: 1320px;
    margin: 50px auto;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.mbt__container__right {
  color: #000;
  padding: 145px 50px 50px 50px;
  /* background-color: rgb(252, 252, 252); */
  width: 65%;
  transition: ease 1s;
}

.mbt__container__right:before {
  content: url("../../assets/images/h2-shape2.png");
  position: absolute;
  top: 0;
  right: 25%;
  animation: MoveUpDown 15s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    top: 0;
  }
  50% {
    top: 100px;
  }
}


.mbt__container__left:before {
  content: url("../../assets/images/skwer_dots_2.png");
  position: absolute;
  top: -80px;
  left: 0;
  animation: MoveLR 15s linear infinite;
  opacity: .5;
}

@keyframes MoveLR {
  0%, 100% {
    left: 0;
  }
  50% {
    left: 120px;
  }
}

.mbt__container__right.closeBar {
  width: 100%;
}

/* GENERAL */
select {
    margin: 0;
    font-weight: 400;
    /* -moz-appearance: window;
    -webkit-appearance: none; */
    cursor: pointer;
    outline: 0;
    height: 40px!important;
    min-width: 40%;
}

.form-control {
  background: 0 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: .25rem;
  box-shadow: none;
  -webkit-transition: none;
  color: #565360;
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  margin-right: 5px;
  font-family: "Roboto",sans-serif;
  height: 26px;
  box-shadow: 0 2px 8px rgb(201 201 201 / 25%);
  position: relative;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bfff;
  outline: 0;
  /* -webkit-box-shadow: 0 0 0 0.2rem rgb(0 126 255 / 25%);
  box-shadow: 0 0 0 0.2rem rgb(0 126 255 / 25%); */
}

input[type="text"] {
  width: 30%;
}

.form-control:focus-visible {
  /* outline: #495057 auto 1px; */
}

.color__white {
  color: #fff!important;
}

.color__black {
  color: #101130!important
}

.hidden {visibility: hidden;}

.none {
  display: none!important;
}

.block {
  display: block;
}

button[disabled], button[disabled]:hover {
  background: #e8e8e8;
  color: gray;
  cursor: help;
}

/***************/
.subheader#quote {
  background: #32407e;
  /* background: #32407e  url("../../assets/images/quote_bg.svg") no-repeat center bottom; */
}



.subheader {
  text-align: center;
  /* margin: 0 -65px 0px -65px; */
  height: 300px;
  /* border-bottom: 1px solid #e8ebed; */
}

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  /* color: #222; */
  font-weight: 700;
}



/* NEW CSS */

.css__new .logo img {
  width: 60px;
  margin-right: 20px;
}

.css__new h2 {
  display: inline!important;
}

.logo {margin-bottom: 50px;}


.header h2 {
  color: #101130;
}

.body:before {
  content: "";
  background: #0f67f6;
  width: 100px;
  height: 8px;
  position: absolute;
  margin-top: -25px;
  border-radius: 4px;
  box-shadow: 0 5px 9px rgb(15 103 246 / 68%);
}

.mbt__container__right .body {
  margin-top: 30px;
}



.logo.grid__2 {
  grid-template-columns: repeat(2, max-content);
  gap: 0.3rem;
  justify-content: left;
}

.logo.grid__2 h2{
  margin-top: 18px;
  font-size: 30px;
  color: #101130;
}

.bg__bldg {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 0;
  width: 500px;
}

/* RIGHT SECTION - ORDER SUMMARY */

.mbt__container {
  overflow: hidden;
}

.order_summary {
  background: url("../../assets/images/skwergroup_bg_net.png") no-repeat;
  background-position: top;
  color: #101130!important;
  line-height: 1.5em;
  width: 20%;
  min-height: 845px;
  padding: 50px;
  padding-top: 140px;
  position: relative;
  transition: ease 1s;
  border-left: 1px solid #eef3f7;
}

.order_summary .toggleDiv {
  display: flex;
  height: 35px;
  width: 35px;
  background-color: #eef3f7;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  position: absolute;
  left: -35px;
  background-image: url("../../assets/images/icons/arrow_right.png");
  background-size: 40% 40%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #eef3f7;
  border-right: none;
  top: 16.3%;
}
.order_summary .toggleDiv.closeBar {
  background-image: url("../../assets/images/icons/arrow_left.png");
  background-size: contain;
  height: 35px;
  width: 35px;
  left: -35px;
  background-size: 40% 40%;
}

.order_summary h3 {
  font-size: 18px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7114EF), to(#1475F7));
  background-image: -webkit-linear-gradient(to left, #7114EF, #1475F7);
  background-image: -moz-linear-gradient(to left, #7114EF, #1475F7);
  background-image: -ms-linear-gradient(to left, #7114EF, #1475F7);
  background-image: -o-linear-gradient(to left, #7114EF, #1475F7);
  background-image: linear-gradient(to left, #7114EF, #1475F7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7114EF', endColorStr='#1475F7');
  background-color: transparent;
  background-clip: text;
  -o-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -o-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  margin: 0;
  margin-left:40px;
  display: inline;
}

span.skwer__label img {
  width: 35px;
  position: absolute;
  margin-top: -3px;
}

.order_summary table tr {
  vertical-align: top;
  text-align: left;
}

.order_summary table td {
  padding: 5px 10px;
  border-bottom: 1px dashed #1475f752;
}

.order_summary ul {
  list-style: none;
  padding-left: 0;
}

.uppercase {
  text-transform: capitalize;
}

.order_summary table td:first-child {
  width: 40%;
  font-weight: 500;
  font-size: 15px;
}

.order_summary table td:nth-child(2) {
  font-size: 14px;
  color: #1475F7;
}

.error {
  font-size: 12px;
  color: #db3a3a;
  height: 25px!important;
  line-height: 1.8em;
  display: block;
  text-align: left;
}

.inline__grid input {
  width: 100%;
  margin-bottom: 0;
}

.absolute {
  position: absolute;
}

.PhoneInput {
  margin: 0;
}

.data__inclusion {
  font-size: 12px;
  list-style: disc!important;
  line-height: 1.5;
  margin: 0 0 0 12px;
}

span.skwer__label {
  display: block;
  background-color: #fff;
  -webkit-border-radius: 46px;
  -khtml-border-radius: 46px;
  -moz-border-radius: 46px;
  -ms-border-radius: 46px;
  -o-border-radius: 46px;
  border-radius: 46px;
  -webkit-box-shadow: 0 11px 27px rgb(0 9 71 / 13%);
  -khtml-box-shadow: 0 11px 27px rgba(0, 9, 71, 0.13);
  -moz-box-shadow: 0 11px 27px rgba(0, 9, 71, 0.13);
  -ms-box-shadow: 0 11px 27px rgba(0, 9, 71, 0.13);
  -o-box-shadow: 0 11px 27px rgba(0, 9, 71, 0.13);
  box-shadow: 0 11px 27px rgb(0 9 71 / 13%);
  margin-bottom: 20px;
  text-align: center;
}

.highlight {
  color :#5333F2!important;
}


/* RESPONSIVE STYLE */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mbt__container__left {
    padding-right:10px;
    padding-left: 20px;
    padding-top: 140px;
    width: 1%;
  }

  .mbt__container__right {
    padding-left: 20px;
    padding-right: 20px;
    width: 99%;
  }

  .order_summary {
    display: none;
  }

  .order_summary table td:first-child, .order_summary table td:nth-child(2) {
    font-size: 12px;
    padding-right: 0;
  }

  span.skwer__label {
    padding: 10px 5px 10px 10px;
  }

  .header h2 {
    font-size: 22px;
  }

  .form-control {
    font-size: 14px;
  }

  .inline__grid {
    display: block;
    width: 90%;
  }

  select {
    margin-bottom: 10px;
    width: 95%;
  }

  .btn {
    width: 95%;
    margin-bottom: 10px;
  }

  .header_mobile {
    display: grid;
    justify-content: center!important;
  }

  .header_desk{
    display: none;
  }

  .mbt__container__right {
    padding-top: 30px;
  }

  .logo {margin-bottom: 30px;}

  .mbt__container__right:before {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mbt__container__left {
    padding-right:10px;
    padding-left: 20px;
    padding-top: 140px;
    width: 1%;
  }

  .mbt__container__right {
    padding-left: 50px;
    padding-right: 20px;
    width: 99%;
  }

  .order_summary {
    display: none;
  }

  .order_summary table td:first-child, .order_summary table td:nth-child(2) {
    font-size: 12px;
    padding-right: 0;
  }

  span.skwer__label {
    padding: 10px 5px 10px 10px;
  }

  .header h2 {
    font-size: 22px;
  }

  .form-control {
    font-size: 14px;
  }

  .btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .header_mobile {
    display: grid;
    justify-content: center!important;
    position: relative;
  }

  .header_desk{
    display: none;
  }

  .mbt__container__right {
    padding-top: 30px;
  }

  .logo {margin-bottom: 30px;}

  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mbt__container__left {
    padding-right:10px;
    padding-left: 20px;
    padding-top: 140px;
    width: 1%;
  }

  .mbt__container__right {
    padding-left: 50px;
    padding-right: 20px;
    width: 55%;
  }

  .order_summary {
    width: 44%;
    display: block;
  }

  .order_summary table td:first-child, .order_summary table td:nth-child(2) {
    font-size: 12px;
    padding-right: 0;
  }

  span.skwer__label {
    padding: 10px 5px 10px 10px;
  }

  .header h2 {
    font-size: 22px;
  }

  .order_summary.closeBar {
    margin-right: -42.5%;
  }

  .form-control {
    font-size: 14px;
  }

  .btn {
    width: 150px;
    margin-bottom: 10px;
  }

  .header_mobile {
    display: grid;
    justify-content: center!important;
  }

  .header_desk{
    display: none;
  }

  .mbt__container__right {
    padding-top: 30px;
  }

  .logo {margin-bottom: 30px;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mbt__container__left {
    padding-right:10px;
    width: 15%;
    padding-top: 50px;
  }

  .mbt__container__right {
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 145px;
    width: 55%;
  }

  .order_summary {
    width: 25%;
    display: block;
  }

  .order_summary table td:first-child, .order_summary table td:nth-child(2) {
    font-size: 12px;
    padding-right: 0;
  }

  span.skwer__label {
    padding: 10px 5px 10px 10px;
  }

  .header h2 {
    font-size: 28px;
  }

  .order_summary.closeBar {
    margin-right: -22.1%;
  }

  .form-control {
    font-size: 14px;
  }

  .btn {
    width: 150px;
    margin-bottom: 10px;
  }

  .header_mobile {
    display: none;
  }

  .header_desk{
    display: grid;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mbt__container {
    background:url("../../assets/images/h2-bg-section-04.jpg") no-repeat ;
    background-position: left bottom;
  }
  .mbt__container__left {
    padding-left: 50px;
    padding-right:10px;
    width: 16%;
    padding-top: 50px;
  }

  .mbt__container__right {
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 145px;
    width: 60%;
  }

  .order_summary {
    width: 25%;
    display: block;
  }

  .order_summary table td:first-child, .order_summary table td:nth-child(2) {
    font-size: 14px;
    padding-right: 0;
  }

  span.skwer__label {
    padding: 10px 5px 10px 10px;
  }

  .header h2 {
    font-size: 30px;
  }

  .order_summary.closeBar {
    margin-right: -21%;
  }

  .form-control {
    font-size: 16px;
  }

  .btn {
    width: 150px;
    margin-bottom: 10px;
  }

  .header_mobile {
    display: none;
  }

  .header_desk{
    display: grid;
  }
}
