.grid__2 {
    grid-template-columns: repeat(2, max-content);
    gap: 3rem;
    justify-content: space-between;
}

.grid__left {
    justify-content: left!important;
}

.order {
    min-width: 600px;
}

.payment__method {
    width: 200px;
}

.payment__method h3 {
    margin-top: 0;
}

.order ul{
    list-style-type: none;
    padding-left: 20px;
}

.order li {
    line-height: 1.5em;
    font-size: 0.8em;
}

.order__left ul, .order__left p {
    text-align: left;
    margin: 0;
}

.order__right ul, .order__right p {
    text-align: right;
    margin: 0;
}

.border__gray {
    border-bottom: 1px dashed rgb(231 230 241);
}

.order p {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0px!important;
}

.agreement p {
    font-weight: normal;
    font-size: 14px;
    display: inline;
}

.agreement {
    margin-top: 20px;
    margin-left: 20px;
}

.amount {
    color: #ff5858;
    font-size: 2.5rem;
}

.stripe img {
    width: 200px;
}

.add_serv p {
    font-weight: normal!important;
    font-size: 1em;
    line-height: 1.5em;
}
