.grid__2 {
    grid-template-columns: repeat(2, max-content);
    gap: 3rem;
    justify-content: space-between;
}

.grid__left {
    justify-content: left!important;
}

.order {
    min-width: 600px;
}

.payment__method {
    width: 200px;
}

.payment__method h3 {
    margin-top: 0;
}

.order ul{
    list-style-type: none;
    padding-left: 20px;
}

.order li {
    line-height: 1.5em;
    font-size: 16px;
}

.order__left ul, .order__left p {
    text-align: left;
    margin: 0;
}

.order__right ul, .order__right p {
    text-align: right;
    margin: 0;
}

.border__gray {
    border-bottom: 1px dashed rgb(231 230 241);
}

.order p {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0px!important;
    color: #2c2c51;
    font-size: 20px;
}

.agreement p {
    font-weight: normal;
    font-size: 14px;
    display: inline;
}

.agreement {
    margin-top: 20px;
    margin-left: 20px;
}

.amount {
    color: #007eff;
    font-size: 2.5rem;
}

.stripe img {
    width: 200px;
}

.add_serv p {
    font-weight: normal!important;
    font-size: 1em;
    line-height: 1.5em;
}

.stripe__btn .box {
    height: 40px;
    position: absolute;
    width: 200px;
    z-index: 2;
    cursor: help!important;
}

.stripe__btn {
    margin-bottom: 5px;
}

button.StripeCheckout {
    border-radius: 2px!important;
    background: transparent!important;
    box-shadow: none!important;
}

button.StripeCheckout span {
    border-radius: 2px!important;
    box-shadow: none!important;
    /* font-family: "Roboto" !important; */
    font-family: "Roboto",sans-serif;
    font-weight: 400!important;
    padding: 5px 22px !important;
    width: 150px;
    text-transform: uppercase;
}

.deactivate button.StripeCheckout {
    background: gray!important;
    border: none;
    opacity: .8;
    cursor: help!important;
    -webkit-box-shadow: none;
    box-shadow: none;
    pointer-events: none;
}

.deactivate button.StripeCheckout span {
    background: gray!important;
    border: none;
    opacity: .8;
    cursor: help!important;
    -webkit-box-shadow: none;
    box-shadow: none;
    pointer-events: none;
}


.active button.StripeCheckout span {
    background: #32407e!important;
}

.order {
    filter: drop-shadow(0 2px 8px rgba(201,201,201,.75));
    background-color: #fff;
    border-radius: 16px;
    padding: 50px;
}

.stripe {
    border: 2px solid transparent;
    border-radius: 15px;
    -webkit-box-shadow: 0 2px 8px rgb(201 201 201 / 25%);
    box-shadow: 0 2px 8px rgb(201 201 201 / 25%);
}