input.form-control.checkbox {
    width: 1em;
      height: 1.5rem;
      accent-color: #cb2027;
      margin: 0;
      position: absolute;
  }

.add__services label {
    background: #fff;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgb(201 201 201 / 25%);
    grid-template-columns: repeat(2, max-content);
    gap: 0.5rem;
    display: grid;
    min-height: 80px;
    border-radius: 8px;
    padding: 12px 10px 10px;
    margin: 0 0 30px;
    cursor: pointer;
    align-items: center;
}

.add__services label:hover {
    background: #07a0ec!important;
}

.add__services label:hover .serv_name, .add__services label:hover span.desc {
    color: #fff!important;
}

.add__services.grid__4 {
    grid-template-columns: repeat(4, max-content);
    gap: 0.5rem;
    justify-content: center;
    text-align: center;
}

span.desc {
    display: block;
    font-size: 0.7em;
    max-width: 150px;
    line-height: 1.5;
}

.serv_box .icon img{
    width: 40px;
}

.serv_box .icon {
    border-radius: 40px;
    width: fit-content;
    height: 40px;
}

.serv_box {justify-content: center;}

.serv_name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: #2c2c51;
    max-width: 120px;
    margin: 0;
}

.serv_price {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #080808;
    background: #ebbcbe;
    border-radius: 3px;
    padding: 0 5px;

}

.pin img {
    width: 40px;
}

ol {
    padding: 0;
}

ol li {
    line-height: 1.4;
}

.hide_serv {
    display: none!important;
}