input.form-control.checkbox {
    width: 1em;
      height: 1.5rem;
      accent-color: #28a745;
      margin: 0;
      position: absolute;
      margin-left: -21px;
  }

.add__services label {
    margin-left: 20px;
    margin-right: 20px;
}

.grid__3 {
    grid-template-columns: repeat(3, max-content);
    gap: 0.5rem;
    justify-content: center;
}

span.desc {
    display: block;
    font-size: 0.7em;
    max-width: 150px;
    line-height: 1.5;
}