.country__card img{
    border-radius: 58px;
    width: 58px;
    height: 58px;
}

.grid__4 {
    grid-template-columns: repeat(4, 22%);
    gap: 1rem;
    justify-content: center;
}

.country__card {
    background: #fff;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgb(201 201 201 / 25%);
    grid-template-columns: repeat(2, max-content);
    gap: 0.5rem;
    display: grid;
    min-height: 80px;
    background-color: #fff;
    border-radius: 8px;
    padding: 4px 20px 8px;
    margin: 0 0 30px;
    cursor: pointer;
    align-items: center;
}

.country__card:hover {
    outline: 1px solid rgb(0 126 255 / 25%);
}

.country__card h3 {
    font-size: 0.8em;
    margin: 0;
    text-transform: uppercase;
    /* font-weight: normal; */
    letter-spacing: 0.5px;
}


/* NEW CSS */
.country__card span {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: #2c2c51;
    margin-bottom: 0;
    max-width: 100px;
}

.country__card ul {
    font-size: 12px;
    color: #677294;
    padding-left: 1rem!important;
    margin: 0;
}

.p__data {
    padding: 0px 20px 20px 20px;
}

.country__card:hover {
    background: #1b2cb7;
}

.country__card:hover span {
    color: #fff;
}