.country__card img{
    border-radius: 58px;
    width: 58px;
    height: 58px;
    border: 2px solid white;
}

.grid__4 {
    grid-template-columns: repeat(4, 22%);
    gap: 1rem;
    justify-content: center;
}

.country__card {
    background: #fff;
    /* background: linear-gradient(to left, white 50%, #1475F7 50%) right;
    background-size: 200%; */
    transition: .1s ease-out;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    -ms-box-shadow: 0 11px 27px rgba(0, 9, 71, 0.13);
    -o-box-shadow: 0 11px 27px rgba(0, 9, 71, 0.13);
    box-shadow: 0 11px 27px rgb(0 9 71 / 13%);
    grid-template-columns: repeat(2, max-content);
    gap: 0.5rem;
    display: grid;
    min-height: 80px;
    background-color: #fff;
    border-radius: 8px;
    padding: 4px 20px 8px;
    margin: 0 0 30px;
    cursor: pointer;
    align-items: center;
    position: relative;
}

.country__card:hover {
    /* outline: 1px solid rgb(0 126 255 / 25%); */
    background:#1475F7 ;
    /* background-position: left; */
    background-image: linear-gradient(132deg, #1475F7 0%, #7114EF 50%, #1475F7) !important;
    background-position: 0%;
    background-size: 200%, 1px;
}

.country__card h3 {
    font-size: 0.8em;
    margin: 0;
    text-transform: uppercase;
    /* font-weight: normal; */
    letter-spacing: 0.5px;
}


/* NEW CSS */
.country__card span {
    font-weight: 500;
    color: #2c2c51;
    margin-bottom: 0;
    line-height: 1.5;
}

.country__card ul {
    font-size: 12px;
    color: #677294;
    padding-left: 1rem!important;
    margin: 0;
}

.p__data {
    padding: 0px 20px 20px 20px;
}


.country__card:hover span {
    color: #fff;
}

/* RESPONSIVE STYLE */

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        .grid__4 {
            grid-template-columns: repeat(3, 30%);
        }

        .order_summary {
            padding-left: 20px;
            padding-right: 20px;
        }

        .country__card img {
            width: 35px;
            height: 35px;
        }

        .country__card span {
            font-size: 14px;
            max-width: 95px;
        }

        .country__card {
            min-height: 70px;
            margin:0;
            padding-left: 10px;
            padding-right: 10px;
            grid-template-columns: repeat(1, 100%);
            justify-items: center;
        }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        .grid__4 {
            grid-template-columns: repeat(3, 30%);
        }

        .order_summary {
            padding-left: 20px;
            padding-right: 20px;
        }

        .country__card img {
            width: 35px;
            height: 35px;
        }

        .country__card span {
            font-size: 14px;
            max-width: 95px;
        }

        .country__card {
            min-height: 70px;
            margin:0;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .grid__4 {
            grid-template-columns: repeat(3, 30%);
        }

        .order_summary {
            padding-left: 20px;
            padding-right: 20px;
        }

        .country__card img {
            width: 35px;
            height: 35px;
        }

        .country__card span {
            font-size: 14px;
            max-width: 95px;
        }

        .country__card {
            min-height: 70px;
            margin:0;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .grid__4 {
            grid-template-columns: repeat(3, 30%);
            justify-content: center;
        }

        .order_summary {
            padding-left: 20px;
            padding-right: 20px;
        }

        .country__card img {
            width: 40px;
            height: 40px;
        }

        .country__card span {
            font-size: 14px;
            max-width: 95px;
        }

        .country__card {
            min-height: 70px;
            margin:0;
            padding-left: 10px;
            padding-right: 10px;
        }

        
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .grid__4 {
            grid-template-columns: repeat(4, 22%);
            justify-content: center;
        }

        .order_summary {
            padding-left: 15px;
            padding-right: 15px;
        }

        .country__card img {
            width: 50px;
            height: 50px;
        }

        .country__card span {
            font-size: 14px;
            max-width: 95px;
        }

        .country__card {
            min-height: 70px;
            margin:0;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
  