header {
    background-color: transparent;
    display: grid;
    padding: 20px 0;
    display: block;
    transition: all .3s ease;
}

.header-right {
    padding-top: 40px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.header__container {
    justify-content: space-between;
}

.logo {
    min-width : 110px;
}

.logo-default {
    display: block;
}

.logo img {
    width: 150px;
    margin-top:20px;
    
}

.nav__bar {
    position: relative;
    margin-right: -20px;
    padding: 0;
}

.nav__bar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__bar ul li {
    float: left;
    position: relative;
    margin-left: 15px;
    margin: 0;
    padding: 0;
}

.nav__bar ul li a {
    text-align: center;
    position: relative;
    padding: 5px 10px 5px 0;
    margin-right: 10px;
    font-size: 17px;
    overflow: hidden;
    color: rgba(255, 255, 255, .5);
}

.nav__bar ul li a::before {
    content: "";
    width: 0px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .3s;
}

.active {
    color: #fff!important;
}

.active::before {
    background-color: #ff5858;
    transition-delay: .3s;
    width: 30px!important;
}

.nav__bar ul li a:hover::before{
    background-color: #ff5858;
    transition-delay: .3s;
    width: 30px;
}

.menu-black ul li a {
    color: #000!important;
}

.scroll-header {
    box-shadow: 0 -1px 4px rgb(0 0 0 / 15%);
    background-color: #fff!important;
    padding: 0!important;
    transition: all .3s ease;
}

.scroll-header .skwer__logo{
    width: 100px!important;
}


